@import '../../mixins';

:host {
  box-sizing: border-box;
  display: flex;
  min-height: space(xxl) * 3;
  padding-left: space(l);
  padding-right: space(l);
  position: relative;
  > svg {
    height: calc(100% - #{space(xl)});
    margin-top: auto;
    margin-bottom: 0;
    width: calc(100% - #{space(xl)});
  }
}

a {
  border-color: transparent;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-20%, -50%, 0);
  z-index: 10;

  + a {
    left: auto;
    right: 0;
    transform: translate3d(20%, -50%, 0);
  }
}

mat-button-toggle-group {
  position: absolute;
  height: fit-content;
  min-width: max-content;
  right: space(l);
}
