@import '../../mixins';

:host {
  box-sizing: border-box;
  display: flex;
  min-height: size(xxxl) * 2;
  padding-left: size(l);
  padding-right: size(l);
  position: relative;
  > svg {
    height: 100%;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
  }
}

a {
  border-color: transparent;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-20%, -50%, 0);
  z-index: 10;

  + a {
    left: auto;
    right: 0;
    transform: translate3d(20%, -50%, 0);
  }
}

mat-button-toggle-group {
  position: absolute;
  height: fit-content;
  min-width: max-content;
  right: size(l);
}
