@import '../mixins';

.facility {
  display: flex;
  flex-direction: row;
  align-items: top;
}

mcn-map, mcn-readout {
  box-sizing: border-box;
  display: block;
  padding: space(l);
  width: 50%;
}
